@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0;
}

.watermark__h1 {
  margin: 0;
  color: rgba(255, 255, 255, 1);
  transition: all 2s ease;
  font-size: 140px;
  opacity: 0.2;
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.watermark__h1 a {
  margin-left: 1rem;
  -webkit-text-stroke: 0.25px white;
  font-size: 2rem;
  color: transparent;
}

@media screen and (min-width: 700px) {
  .watermark__h1 a {
    -webkit-text-stroke: 1px white;
    margin-left: 5rem;
    font-size: 5rem;
  }
}

.watermark-container3 {
  display: flex;
  animation: scrollText 60s infinite linear;
  user-select: none;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.watermark-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 400px;
  margin: auto;
  overflow: hidden;
  z-index: 1;
  bottom: 0;
}

.watermark-container2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  transform: scale(2);
  transition: all 1s ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hover-element::before {
  content: "";
  position: absolute;
  width: 80%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: rgb(238, 231, 231);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}
.hover-element {
  display: inline-block;
  position: relative;
}

.hover-element:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.scrollingdiv {
  overflow: hidden;
  width: 100vw;
}

.scrollingtext {
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);

  -moz-animation: my-animation 100s linear infinite;
  -webkit-animation: my-animation 100s linear infinite;
  animation: my-animation 100s linear infinite;
}

@-moz-keyframes my-animation {
  0% {
    -moz-transform: translateX(100%);
  }
  50% {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  0% {
    -webkit-transform: translateX(100%);
  }
  50% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.customgrid {
  display: grid;
  width: 60vw;
  margin: 0 5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4rem;
  overflow: hidden;
}

.spooky {
  min-height: calc(100vh + 20vh);
}

.maxheight {
  max-height: 100%;
}

.coolgrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

@media screen and (min-width: 835px) {
  .coolgrid {
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  }
}
@media screen and (min-width: 1254px) {
  .coolgrid {
    grid-template-columns: repeat(3, minmax(145px, 1fr));
  }
}
@media screen and (min-width: 1417px) {
  .coolgrid {
    grid-template-columns: repeat(4, minmax(145px, 1fr));
  }
}

.invalidCheck:not([value=""]):not(:focus):invalid {
  border: 1px solid rgb(255, 45, 45);
}
.invalidCheck:not([value=""]):not(:focus):invalid {
  border: 1px solid rgb(255, 45, 45);
}

.emailcheck:not([value=""]):not(:focus):user-invalid {
  border: 1px solid rgb(255, 45, 45);
}

.specialBefore {
  display: inline-block;
  position: relative;
}
.specialBefore:before {
  content: "~~~~~~~~~~~~";
  font-size: 0.6em;
  font-weight: 700;
  font-family: Times New Roman, Serif;
  color: red;
  width: 100%;
  position: absolute;
  bottom: 12px;
  left: 0px;
  z-index: 51;
}
